<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Robusta_FacebookConversions::config_facebookconversions" title="Facebook Conversions Configuration" sortOrder="51"/>
            </resource>
        </resources>
    </acl>
</config>
