<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Cart\AddSimpleProductToCart">
        <plugin name="robusta_facebookconversions_add_to_cart_graphql" type="Robusta\FacebookConversions\Plugin\AddToCartGraphQlPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\WishlistGraphQl\Model\Resolver\AddProductsToWishlist">
        <plugin name="robusta_facebookconversions_add_to_wishlist_graphql" type="Robusta\FacebookConversions\Plugin\AddToWishlistGraphQlPlugin" sortOrder="10"/>
    </config>
