<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddProductsToCart">
        <plugin name="robusta_facebookconversions_add_to_cart_graphql" type="Robusta\FacebookConversions\Plugin\AddToCartGraphQlPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\WishlistGraphQl\Model\Resolver\AddProductsToWishlist">
        <plugin name="robusta_facebookconversions_add_to_wishlist_graphql" type="Robusta\FacebookConversions\Plugin\AddToWishlistGraphQlPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products">
        <plugin name="robusta_facebookconversions_search_graphql" type="Robusta\FacebookConversions\Plugin\SearchGraphQlPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\CustomerGraphQl\Model\Resolver\CreateCustomer">
        <plugin name="robusta_facebookconversions_create_customer_graphql" type="Robusta\FacebookConversions\Plugin\CompleteRegistrationGraphQlPlugin" sortOrder="10"/>
    </type>
</config>
