<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="robusta" translate="label" sortOrder="10">
            <label>Robusta Extensions</label>
        </tab>
        <section id="facebookconversions" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Facebook Conversions</label>
            <tab>robusta</tab>
            <resource>Robusta_FacebookConversions::config_facebookconversions</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="pixel_id" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pixel ID</label>
                    <comment><![CDATA[Enter your Facebook Pixel ID here.]]></comment>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <!-- <type>text</type> -->
                </field>
                <field id="access_token" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                    <comment><![CDATA[Enter your Facebook Access Token here.]]></comment>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <!-- <type>password</type> -->
                </field>
            </group>
        </section>
    </system>
</config>
